{
  presets: [
    ['env', {
      targets: {
        browsers: ['last 2 versions'],
      },
      loose: true,
      modules: false,
    }],
    'stage-0',
    'flow',
    'react'
  ],
  env: {
    development: {
      plugins: [
        'flow-react-proptypes'
      ]
    },
    production: {
      plugins: [
        ['lodash', { id: [
          'ramda',
          'recompose'
        ]}]
      ]
    }
  }
}

// vim: ft=javascript
