{
  "presets": [
    ["env", {
      "targets": {
        "browsers": {
          "development": "last 1 version",
          "production": "> 5%"
        },
        "node": "current"
      },
      "loose": true,
      "modules": false
    }],
    "stage-0",
    "react"
  ],
  "env": {
    "production": {
      "plugins": [
        ["lodash", { "id": [
          "ramda",
          "recompose"
        ]}]
      ]
    }
  }
}

// vim: ft=javascript
