@import '../node_modules/normalize.css' // FIXME: shouldn't need to specify node_modules

body
  background: #eee
  color: #111

.test
  h1
    text-align: center

  ul
    list-style: none
    padding-left: 0
