body
  background: #ccc
  font-family: sans
  margin: 0

.card
  background: #eee
  color: #111
  border-radius: 3px
  padding: 10px
  margin: 10px
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
