* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  margin: 0 auto;
  max-width: 800px;
  background: #333;
  color: #eee;
}

nav {
  background: #333;
  color: #eee;
}

.linkItem {
  margin: 5px 0;

  & form {
    display: inline;
  }
}

.tag {
  background: #ccc;
  border-radius: 3px;
  margin: 0 3px;
  padding: 0 3px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.tag:hover {
  border: 1px solid #999
}
