@import './font-awesome.css';

:root {
  --hue: 210;
  --primary-color: hsl(var(--hue), 50%, 50%);
  --color-bg: #ccc;
  --color-bg-alt: #eee;
  --color-text: #111;
}

* {
  box-sizing: border-box;
  /* border: 1px solid #f00; */
}

html {
  font-family: system-ui;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 38em;
  margin: auto;
  color: var(--color-text);
  background-color: #333;
  scroll-behavior: smooth;
}

@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  margin: 0.25em 0;
  padding: 0.25em 0;
}

h1 { font-size: 2.35em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

pre {
  display: block;
  padding: 1em;
  overflow-x: auto;
}

code {
  background: #666;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #eee;
  font-family: monospace;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: pre-wrap;
}

pre > code {
  padding: 0;
  margin: 0;
  white-space: pre;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: #666;
}

textarea,
select,
button,
input[type] {
  color: var(--text-color);
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: var(--color-bg-alt);
  border: 1px solid var(--color-bg-alt);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;

  &:focus {
    border: 1px solid var(--text-color);
    outline: 0;
  }
}

.layout {
  background: var(--color-bg);
  max-width: 38em;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  height: 100%;
}

header {
  background: var(--primary-color);
  color: #fff;

  div {
    font-size: xx-large;
    font-weight: bold;
    padding: 0.5em;

    img {
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 0.5em;
    }
  }

  nav {
    width: 100%;
    background: hsl(var(--hue), 50%, 60%);

    a {
      width: 100%;

      &:link,
      &:hover,
      &:visited {
        color: var(--text-color);
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      width: 100%;

      li {
        display: block;
        margin: 0;
        border: 0;
        text-align: center;
        padding: 0.5em 0;
        width: 100%;
        transition: 0.3s ease;

        &:hover {
          background: var(--primary-color);
        }
      }
    }

    .active {
      text-decoration: none;
      background: var(--primary-color);
      font-weight: bold;
    }
  }
}

a:link,
a:visited {
  color: var(--primary-color);
  transition: 0.3s ease;
}

a:hover {
  color: hsl(var(--hue), 50%, 60%);
}

.projects {
  padding: 0 0.5em;
}

.repolist {
  padding: 0;
  margin: 0;
  column-count: 2;
  column-gap: 0.5em;
}

.repoitem {
  display: inline-block;
}

.footer {
  margin-top: auto;
  padding: 0.5em 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    li {
      display: block;
      margin: 0;
    }

    svg {
      transition: 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  a:hover {
    color: hsl(var(--hue), 50%, 60%);
  }
}

.repo {
  background: var(--color-bg-alt);
  color: var(--text-color);
  padding: 0.25em;
  font-size: smaller;
  min-width: 22em;
  margin: 0.25em 0;
  display: grid;
  grid-template-areas: "title language" "description description" "updated extra";

  .title {
    font-size: larger;
    font-weight: bold;
    grid-area: title;
  }

  .language {
    grid-area: language;
    justify-self: end;
  }

  .extra {
    text-align: right;
    grid-area: extra;
    justify-self: end;
    font-size: smaller;

    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0;
      margin-left: 0.25em;
      padding: 0;

      &:not(:last-child):after {
        content: ', ';
      }
    }
  }

  .description {
    grid-area: description;
  }

  .updated {
    grid-area: updated;
    justify-self: start;
    font-size: smaller;
  }
}

.blogContainer {
  padding: 0 0.5em;

  .blog {
    background: var(--color-bg-alt);
    padding: 0.25em;
    margin-bottom: 0.5em;
    font-size: smaller;
    max-width: 100%;
  }

  .meta {
    font-size: smaller;
    margin-bottom: 0.25em;
    display: flex;

    div:not(:last-child):after {
      content: '-';
      padding: 0 0.25em;
    }
  }

  .title {
    font-size: larger;
    font-weight: bold;
  }

  .tags {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;

    .tag {
      display: inline;
      padding: 0 0.25em;

      &:not(:last-child):after {
        content: ',';
      }
    }
  }

  .toc {
    float: right;
    margin-top: 1em;

    ul,
    ol {
      padding-left: 1em;
      margin: 0.5em 1em;
    }
  }
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }

  header {
    text-align: center;
  }

  .repolist {
    column-count: 1;
  }

  .repoitem {
    display: block;
  }

  .repo {
    margin-bottom: 0.5em;
  }

  .blogContainer .blog {
    display: block;
  }

  .blog .toc {
    float: unset;
  }
}

.spinner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 4s;

  > div {
    color: #999;
    font-family: monospace;
    font-weight: bold;
    font-size: 6em;
    opacity: 0.8;
  }

  span {
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;
  }

  &:nth-child(odd) {
    animation-delay: 0.4s;
  }
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@keyframes fadein {
  from {
    transform: scale(0.1);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
